.principal.ui.segment{
    background-color: #007bff !important;
    color: white;
    font-weight: bold;
}

.home.ui.container{
    margin-top: 350px;
}

.espace{
    margin-left: 10px;
}

.segmentPerso.ui.segment{
    font-weight: bold;
}

.ui.form .field>label {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 400;
    text-transform: none;
}

.autoCompletTitre{
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 400;
    text-transform: none;
}